h1 {
    /*colors*/
    background-color: #7FB9BB;
    color: #154B67;
    /*formatting*/
    height: 100px;
    width: 1100px;
    /*border and shadow*/
    border: 5px solid #154B67;
    box-shadow: 5px 5px 2px #C8B394;
}

body {
    /*colors*/
    background-color: #EAD5B6;
    color: #154B67;
    /*formatting*/
    height: auto;
    width: auto;
    padding: 10px;
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
