
@{
    ViewBag.Title = "Browse";
}

<h2 style="padding:15px 0px 0px 10px; height: 75px;">Browse</h2>
<div class="container-fluid" id="playlist2" style="border: 1px dashed #154867; background-color: #9FDBDD; color: #154867;
    box-shadow: 5px 5px 2px #C8B394; margin-bottom: 20px">
    @for (int i = 0; i < 10; i++)
    {
    <div class="row" style="border: 2px solid #154B67;">
        <div class="col-sm-1">
            <h2>0</h2>
        </div>
        <div class="col-md-4">
            <h2>Title</h2>
        </div>
        <div class="col-md-3">
            <h2> - Artist</h2>
        </div>
        <div class="col-md-1">
            <h2>0</h2>
        </div>
        <div class="col-md-1">
            <h3>soundcloud</h3>
        </div>
    </div>

    }
</div>

