@{
    ViewBag.Title = "Music Pirates";
}

<div>
    <h1>@ViewBag.Title</h1>
    <p>
        Yar Har, fiddle dee dee, I am a pirate with API keys
        Do what you want 'cause our software is free!!!
        WE ARE PI-RATES!!!
    </p>
</div>
