@{
    ViewBag.Title = "Music Pirates";
}

<body>
    <h1>@ViewBag.Title</h1>
    <div>
        <p>
            Yar Har, fiddle dee dee, I am a pirate with API keys
            Do what you want 'cause our software is free!!!
            WE ARE PI-RATES!!!
        </p>
        <p>
            Music Pirates is a website where you can find the music you love without
            having to subscribe to multiple streaming services just for one album. <br /> <br />
            bugsnax2bugsnax2 bugsnax2 bugsnax2bugsnax2 bugsnax2bugsnax2. bugsnax2bugsnax2
            bugsnax2bugsnax2. bugsnax2bugsnax2 bugsnax2 bugsnax2bugsnax2 bugsnax2bugsnax2
            bugsnax2 bugsnax2bugsnax2. bugsnax2bugsnax2bugsnax2 bugsnax2 bugsnax2 bugsnax2
            bugsnax2 bugsnax2 bugsnax2bugsnax2 bugsnax2bugsnax2 bugsnax2bugsnax2 bugsnax2
            bugsnax2 bugsnax2bugsnax2 bugsnax2bugsnax2bugsnax2 bugsnax2bugsnax2. bugsnax2
            bugsnax2 bugsnax2bugsnax2bugsnax2 bugsnax2 bugsnax2bugsnax2 bugsnax2bugsnax2.
            bugsnax2bugsnax2 bugsnax2 bugsnax2bugsnax2 bugsnax2bugsnax2. bugsnax2bugsnax2
            bugsnax2bugsnax2. bugsnax2bugsnax2 bugsnax2 bugsnax2bugsnax2 bugsnax2bugsnax2
            bugsnax2 bugsnax2bugsnax2. bugsnax2bugsnax2bugsnax2 bugsnax2 bugsnax2 bugsnax2
            bugsnax2 bugsnax2 bugsnax2bugsnax2 bugsnax2bugsnax2 bugsnax2bugsnax2 bugsnax2
            bugsnax2 bugsnax2bugsnax2 bugsnax2bugsnax2bugsnax2 bugsnax2bugsnax2. bugsnax2
            bugsnax2 bugsnax2bugsnax2bugsnax2 bugsnax2 bugsnax2bugsnax2 bugsnax2bugsnax2.
        </p>
    </div>
</body>
