@{
    ViewBag.Title = "My Profile";
    /*comment*/
}

<h1 style="background-color: #9FDBDD; border: 6px double">Name</h1>
<div class="container-fluid" style="color: #3E301C">
    <h4 class="text-center">1 follower 2 following</h4>
    <br />
    <p>this is a bio blah blah blah blah blah blah blah</p>

</div>

<h3>Top Artists</h3>
<div class="row container-fluid" style="color: #3E301C">
    <div class="col-sm-4">
        <h4 class="text-center">Taylor Swift</h4>
        <img class="img-thumbnail" src="~/Images/tswift.jpg" />
    </div>
    <div class="col-sm-4">
        <h4 class="text-center">Kanye West</h4>
        <img class="img-thumbnail" src="~/Images/kwest.jpg" />
    </div>
    <div class="col-sm-4">
        <h4 class="text-center">Dixie Damilio</h4>
        <img class="img-thumbnail" src="~/Images/ddamelio.jpg" />
    </div>
</div>

<h3>Top Playlists</h3>
<div class="row container-fluid">
    <div class="col-sm-4" style="background-color: #9FDBDD; color: #154B67; border: 2px solid #154B67;
        box-shadow: 3px 3px 1px #C8B394; width: 360px; height: 500px; margin: 10px; padding: 20px;">
        <img src="~/Images/instrumental.png"
             height="80" width="80" />
        <h4 class="text-left">my fave instrumental music created by afirman02</h4>
        <ol>
            <li>
                Debussy - Claire De Lune by Martin Bloch
                <img src="~/Images/spotify.png" height="40" width="40" padding="0" />
            </li>
            <li>
                Fairy Fountain by Super Guitar Bros
                <img src="~/Images/spotify.png" height="40" width="40" padding="0" />
            </li>
            <li>
                Married Life (From "Up") [Piano Version] by The Wild Conductor
                <img src="~/Images/spotify.png" height="40" width="40" padding="0" />
            </li>
            <li>
                Once Upon a Dream by Invadable Harmony
                <img src="~/Images/spotify.png" height="40" width="40" padding="0" />
            </li>
            <li>
                The French Library by Franz Gordon
                <img src="~/Images/spotify.png" height="40" width="40" padding="0" />
            </li>
        </ol>
    </div>

    <div class="col-sm-4" style="background-color: #9FDBDD; color: #154B67; border: 2px solid #154B67;
        box-shadow: 3px 3px 1px #C8B394; width: 360px; height: 500px; margin: 10px; padding: 20px;">
        <img src="~/Images/rap-hiphop.png"
             height="80" width="70" style="padding-top: 15px" />
        <h4 class="text-left">90's Rap / HipHop created by 19jconnell79</h4>
        <ol>
            <li>
                Still D.R.E. by Dr. Dre, Snoop Dogg
                <img src="~/Images/spotify.png" height="40" width="40" padding="0" />
            </li>
            <li>
                Jump Around by House of Pain
                <img src="~/Images/spotify.png" height="40" width="40" padding="0" />
            </li>
            <li>
                Regulate by Warren G, Nate Dogg
                <img src="~/Images/spotify.png" height="40" width="40" padding="0" />
            </li>
            <li>
                King Kunta by Kendrick Lamar
                <img src="~/Images/spotify.png" height="40" width="40" padding="0" />
            </li>
            <li>
                Keep Ya Head Up by 2Pac
                <img src="~/Images/spotify.png" height="40" width="40" padding="0" />
            </li>
        </ol>
    </div>

    <div class="col-sm-4" style="background-color: #9FDBDD; color: #154B67; border: 2px solid #154B67;
        box-shadow: 3px 3px 1px #C8B394; width: 360px; height: 500px; margin: 10px; padding: 20px;">
        <img src="~/Images/tophits.png"
             height="80" width="70" style="padding-top: 15px" />
        <h4 class="text-left">Today's Top Hits created by Spotify</h4>
        <ol>
            <li>
                We're Good by Dua Lipa
                <img src="~/Images/spotify.png" height="40" width="40" padding="0" />
            </li>
            <li>
                test drive by Ariana Grande
                <img src="~/Images/spotify.png" height="40" width="40" padding="0" />
            </li>
            <li>
                Therefore I Am by Billie Eilish
                <img src="~/Images/spotify.png" height="40" width="40" padding="0" />
            </li>
            <li>
                Baila Conmigo (with Rauw Alejandro) by Selena Gomez, Rauw Alejandro
                <img src="~/Images/spotify.png" height="40" width="40" padding="0" />
            </li>
            <li>
                HOLIDAY by Lil Nas X
                <img src="~/Images/spotify.png" height="40" width="40" padding="0" />
            </li>
        </ol>
    </div>
</div>
