<h1 style="background-color: #9FDBDD">My Playlists</h1>
<hr/>

<div class="container-fluid" id="playlist1" style="border: 1px dashed #154867; background-color: #9FDBDD; color: #154867;
    box-shadow: 5px 5px 2px #C8B394; margin-bottom: 20px">
    <img src="~/Images/instrumental.png"
         height="80" width="70" style="padding-top: 15px"/>
    <h4 class="text-left">my fave instrumental music created by afirman02</h4>
    <ol>
        <li>Debussy - Claire De Lune by Martin Bloch 
            <img src="~/Images/spotify.png" height="40" width="40" padding="0" /></li>
        <li>Fairy Fountain by Super Guitar Bros
            <img src="~/Images/spotify.png" height="40" width="40" padding="0"/></li>
        <li>Married Life (From "Up") [Piano Version] by The Wild Conductor
            <img src="~/Images/spotify.png" height="40" width="40" padding="0"/></li>
        <li>Once Upon a Dream by Invadable Harmony
            <img src="~/Images/spotify.png" height="40" width="40" padding="0"/></li>
        <li>The French Library by Franz Gordon
            <img src="~/Images/spotify.png" height="40" width="40" padding="0"/></li>
    </ol>
</div>

<div class="container-fluid" id="playlist2" style="border: 1px dashed #154867; background-color: #9FDBDD; color: #154867;
    box-shadow: 5px 5px 2px #C8B394; margin-bottom: 20px">
    <img src="~/Images/rap-hiphop.png"
     height="80" width="70" style="padding-top: 15px"/>
    <h4 class="text-left">90's Rap / HipHop created by 19jconnell79</h4>
    <ol>
        <li>Still D.R.E. by Dr. Dre, Snoop Dogg
            <img src="~/Images/spotify.png" height="40" width="40" padding="0"/></li>
        <li>Jump Around by House of Pain
            <img src="~/Images/spotify.png" height="40" width="40" padding="0"/></li>
        <li>Regulate by Warren G, Nate Dogg
            <img src="~/Images/spotify.png" height="40" width="40" padding="0"/></li>
        <li>King Kunta by Kendrick Lamar
            <img src="~/Images/spotify.png" height="40" width="40" padding="0"/></li>
        <li>Keep Ya Head Up by 2Pac
            <img src="~/Images/spotify.png" height="40" width="40" padding="0"/></li>
    </ol>
</div>

<div class="container-fluid" id="playlist3" style="border: 1px dashed #154867; background-color: #9FDBDD; color: #154867;
    box-shadow: 5px 5px 2px #C8B394;">
    <img src="~/Images/tophits.png"
     height="80" width="70" style="padding-top: 15px"/>
    <h4 class="text-left">Today's Top Hits created by Spotify</h4>
    <ol>
        <li>We're Good by Dua Lipa
            <img src="~/Images/spotify.png" height="40" width="40" padding="0"/></li>
        <li>test drive by Ariana Grande
            <img src="~/Images/spotify.png" height="40" width="40" padding="0"/></li>
        <li>Therefore I Am by Billie Eilish
            <img src="~/Images/spotify.png" height="40" width="40" padding="0"/></li>
        <li>Baila Conmigo (with Rauw Alejandro) by Selena Gomez, Rauw Alejandro
            <img src="~/Images/spotify.png" height="40" width="40" padding="0"/></li>
        <li>HOLIDAY by Lil Nas X
            <img src="~/Images/spotify.png" height="40" width="40" padding="0"/></li>
    </ol>
</div>